@import './default.less';
@import './loading.less';
ul,li{
    list-style: none;
}

.clearfix{
    zoom : 1;
    display : block;
    &:after{
        content: " ";
        visibility: hidden;
        clear: both;
        display: block;
    }
}

.container{
    .nav-left{
        height: calc(100vh);
        background-color: #001529;
        color: #fff;
    }
    .main{
        background-color: @colorL;
        height: calc(100vh);
        overflow: auto;
    }
    .content{
        position: relative;
        padding: 16px;
    }
}

.content-wrap{
    background:#fff;
    border: 1px solid #e8e8e8;
    margin-top: -1px;
    .ant-table-wrapper{
        margin:0 -1px;
    }
}
